<div id="<%= dom_id notification %>">
  <p>
    <strong>Title:</strong>
    <%= notification.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= notification.text %>
  </p>

  <p>
    <strong>Recipient:</strong>
    <%= notification.recipient_id %>
  </p>

  <p>
    <strong>Read at:</strong>
    <%= notification.read_at %>
  </p>

</div>
