<div id="<%= dom_id notification %>">
  <p>
    <strong>
      <%= t("Title") %>:
    </strong>

    <%= notification.title %>
  </p>

  <p>
    <strong>
      <%= t("Description") %>:
    </strong>

    <%= link_to(notification.notifiable.description.truncate(20) , notification.notifiable) %>
  </p>

  <%= button_to(t("Mark read"), notification_path(notification), method: :delete, class: "feedback-button") %>

</div>
