<div style="border: solid 0.1rem; padding: 0.4rem;">
    Details: <%= link_to(post.id, post) %>
    <br>
    Description: <%= post.description %>
    <br>
    Status: <%= post.status %>
    <br>
    Last synchronized: <%= post.last_synchronized_at %>
    <br>
    <% if post.issue_url.present? %>
        You can see it <a href=<%= post.issue_url %>> here </a>
    <% end %>

    <%= button_to t("synchronize"), post_synchronize_path(post) %>
</div>