<%= render @post %>

<br>

<h2> <%= t("Attachments") %> </h2>

<% @post.attachments.each do |file| %>
    <% if file.representable? %>
        <%= image_tag main_app.url_for(file.representation(resize_to_limit: [600, 200])), class: "feedback--post-attachment" %>
    <% else %>
        <%= link_to rails_blob_path(file, disposition: "attachment") do %>
            <%= image_tag "placeholder.png", alt: "Download file" %>
        <% end %>
    <% end %>
<% end %>

<h2> <%= t("Comments") %> </h2>

<% @post.comments.each do |comment| %>
    <%= render "feedback/comments/comment", comment:  %>
<% end %>

<br>

<%= render "feedback/comments/form", post: @post %>

<br>

<%= link_to(t("Back to feedbacks"), posts_path) %>
