<h2>
    <%= t("Welcome") %>
</h2>

<h3>
    <%= t("Send feedback") %>:
</h3>

<%= render "feedback/posts/form" %>

<p style="margin-top: 2rem;">

<%= link_to t("My feedback"), posts_path %>

<p style="margin-bottom: 2rem;"></p>

<% if current_user.feedback_notifications.unread.any? %>
    <h2> <%= t("Unread notifications") %>: </h2>

    <% current_user.feedback_notifications.unread.each do |notification| %>
        <%= render notification %>
    <% end %>
<% end %>

<% if current_user.respond_to?(:admin?) && current_user.admin? %>
    <%= link_to "administrace", admin_posts_path %>
<% end %>
